<div class="container">
  <div class="box-full" style="width: 100%; z-index: 2;">
    <div class="content">
      <a
        href="/"
        title="smartcoderBR - Aprenda de fato a criar Poderosas WebApps"
      >
        <img
          class="logo"
          src="assets/images/logo.png"
          alt="smartcoderBR - Aprenda de fato a criar Poderosas WebApps"
          title="smartcoderBR - Aprenda de fato a criar Poderosas WebApps"
        />
      </a>

      <a
        href="https://github.com/smartcoderBR/"
        title="smartcoderBR - Aprenda de fato a criar Poderosas WebApps"
        target="_blank"
      >
        <img
          class="github-header"
          style="height: 50px; float: right;"
          src="assets/images/logo-github.png"
          alt="Github - smartcoderBR"
          title="Github - smartcoderBR"
        />
      </a>
    </div>
  </div>

  <div class="box-full" style="background: #234374;">
    <div class="content">
      <h1>
        Aprenda <strong class="txt-bold">DE FATO</strong> a criar um site com um
        dos melhores frameworks do mercado, prático, de qualidade e responsivo!
      </h1>
      <a
        target="_blank"
        class="call-to-action"
        href="https://forms.gle/uESCGJ9jk7Sc8H9G6"
      >
        Tenho interesse!
      </a>
      <!-- <button class="call-to-action">
        Tenho interesse!
      </button> -->
    </div>
  </div>

  <section class="box-full">
    <div class="content">
      <h2>Porque fazer esse curso?</h2>
      <p>
        A programação é um dos pilares da Internet e é fundamental para quem
        deseja atuar em uma das áreas mais fascinantes e bem remuneradas do
        mercado digital. Pensando nisso, a smartcoder criou um treinamento que
        vai ensinar você a programar na prática, sem complicações. Aprenda do
        zero e, ao final do curso, você vai saber criar um site de verdade e de
        qualidade!
      </p>

      <h3>A quem se destina</h3>
      <p>
        O curso é voltado para você que quer entrar no mercado de trabalho e não
        sabe por onde começar. Estudantes, Programadores, Designers, redatores e
        outros profissionais das mais diversas áreas estão convidados a ampliar
        seus conhecimentos, aumentando o currículo para novas e melhores
        oportunidades no mercado.
      </p>

      <h3>O que e como vou aprender?</h3>
      <p>
        Queremos que você aprenda sem rodeios e termine o curso sabendo
        programar o suficiente para criar seu site/sistema web. Aqui, você terá
        aulas práticas e diretas em um curso de 20 horas de duração. Preparamos
        um programa específico e completo para você ganhar conhecimento de forma
        rápida e eficiente!
      </p>
      <p>
        O mercado de trabalho muda constantemente e as empresas estão exigindo
        cada vez mais conhecimento de seus funcionários. Sabemos que desenvolver
        um site ou um sistema web é um tanto complexo, mas, aqui na
        <strong>smartcoder</strong>, podemos ajudar você a entender esse mundo
        do frontend.
      </p>
      <p>
        Além de conhecer diversas ferramentas para construir um website moderno,
        utilizando as melhores técnicas e boas práticas, vamos aprender também
        como controlar as versões do nosso projeto e onde armazenar os arquivos.
      </p>
    </div>
  </section>

  <div class="box-full bg-header bg-header-tools">
    <div class="content">
      <h2 class="title-tools">Ferramentas que você vai aprender</h2>

      <ul class="list-tools txt-center">
        <li>
          <div>
            <img src="assets/images/logo-html5.png" alt="HTML5" title="HTML5" />
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/logo-css3.png" alt="CSS3" title="CSS3" />
          </div>
        </li>
        <li>
          <div>
            <img
              src="assets/images/logo-javascript.png"
              alt="JAVASCRIPT"
              title="JAVASCRIPT"
            />
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/logo-npm.png" alt="NPM" title="NPM" />
          </div>
        </li>
        <li>
          <div>
            <img
              src="assets/images/logo-bootstrap.png"
              alt="BOOTSTRAP"
              title="BOOTSTRAP"
            />
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/logo-git.png" alt="GIT" title="GIT" />
          </div>
        </li>
        <li>
          <div>
            <img
              src="assets/images/logo-github.png"
              alt="GITHUB"
              title="GITHUB"
            />
          </div>
        </li>
        <li>
          <div>
            <img
              src="assets/images/logo-angular.png"
              alt="Angular"
              title="Angular"
              style="height: 192px;"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="box-full">
    <div class="content =">
      <h2>Conteúdo programático</h2>
      <p>
        O treinamento tem duração de 20 horas, com um conteúdo super completo
        que vai desde a percepção do projeto até a codificação em si.
        Utilizaremos algumas ferramentas para facilitar nosso trabalho e ajudar
        a organizar o projeto.
      </p>
      <p>
        O papel do desenvolvedor é entregar a melhor experiência para o usuário.
        Nosso trenamento é focado nessa "regra", pois, acreditamos que sem nosso
        usuário, não faz sentido ter um site publicado.
      </p>
      <p>
        Você aprenderá ainda técnicas de UX (User Experience) para aplicar em
        exercícios e projetos. Veremos também diversas ferramentas para nos
        auxiliar no dia a dia.
      </p>

      <h3 class="topics">
        Veja abaixo os tópicos que serão abordados durante o treinamento:
      </h3>

      <div style="display: table; width: 100%;">
        <ul class="list">
          <li><p>HTML5</p></li>
          <li><p>Tags e atributos</p></li>
          <li><p>Padrões semânticos</p></li>
          <li><p>Títulos</p></li>
          <li><p>Parágrafos</p></li>
          <li><p>Listas</p></li>
          <li><p>Tabelas</p></li>
          <li><p>Links</p></li>
          <li><p>Âncoras</p></li>
          <li><p>Imagens</p></li>
          <li><p>Formulários</p></li>
          <li><p>Boas práticas</p></li>
        </ul>
        <ul class="list">
          <li><p>CSS3</p></li>
          <li><p>Seletores e heranças</p></li>
          <li><p>Entendendo o DOM</p></li>
          <li><p>Propriedade !important</p></li>
          <li><p>Cores, Backgrounds</p></li>
          <li><p>Fontes</p></li>
          <li><p>Modularização</p></li>
          <li><p>Boas práticas</p></li>
        </ul>
        <ul class="list">
          <li><p>JAVASCRIPT / TYPESCRIPT</p></li>
          <li><p>Chrome dev tools</p></li>
          <li><p>Variáveis</p></li>
          <li><p>Operadores</p></li>
          <li><p>funções</p></li>
          <li><p>Objetos</p></li>
          <li><p>Arrays</p></li>
          <li><p>Ajax</p></li>
          <li><p>LocalStorage</p></li>
          <li><p>Estruturas condicionais</p></li>
          <li><p>Eventos</p></li>
          <li><p>Dom</p></li>
          <li><p>Modularização</p></li>
          <li><p>Boas práticas</p></li>
        </ul>
        <ul class="list">
          <li><p>ANGULAR</p></li>
          <li><p>Chrome dev tools</p></li>
          <li><p>Variáveis</p></li>
          <li><p>Bindings</p></li>
          <li><p>Router</p></li>
          <li><p>Http</p></li>
          <li><p>Observables</p></li>
          <li><p>Components</p></li>
          <li><p>Directives</p></li>
          <li><p>LocalStorage</p></li>
          <li><p>Modularização</p></li>
          <li><p>Boas práticas</p></li>
        </ul>
        <ul class="list">
          <li><p>GIT e GITHUB</p></li>
          <li><p>Comandos básicos</p></li>
          <li><p>git status</p></li>
          <li><p>git commit</p></li>
          <li><p>git add</p></li>
          <li><p>git diff</p></li>
          <li><p>git push</p></li>
          <li><p>Criação de repositório no github</p></li>
          <li><p>Publicação do projeto com github pages</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="box-full" style="background: #234374;">
    <div class="content">
      <h1>
        Aprenda <strong class="txt-bold">DE FATO</strong> a criar um site com um
        dos melhores frameworks do mercado, prático, de qualidade e responsivo!
      </h1>
      <a
        target="_blank"
        class="call-to-action"
        href="https://forms.gle/uESCGJ9jk7Sc8H9G6"
      >
        Tenho interesse!
      </a>
      <!-- <button class="call-to-action">
        Tenho interesse!
      </button> -->
    </div>
  </div>

  <footer class="box-full bg-header bg-header-tools">
    <div class="content box-footer">
      <div class="col-footer">
        <p>
          <a href="mailto:smartcoderbr@gmail.com">smartcoderbr@gmail.com</a> |
          <a href="tel:954829300">(11) 954829300</a> |
          <span>São Paulo - Brasil</span> |
          <a href="https://github.com/smartcoderBR" target="_blank">Github</a>
        </p>
      </div>
    </div>
  </footer>
</div>
